* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-Desaturated-Red: hsl(0, 36%, 70%);
  --color-Soft-Red: hsl(0, 93%, 68%);
  --color-Dark-Grayish-Red: hsl(0, 6%, 24%);
  --linear-1: hsl(0, 0%, 100%);
  --linear-2: hsl(0, 100%, 98%);
  --linear-3: hsl(0, 80%, 86%);
  --linear-4: hsl(0, 74%, 74%);
}
html {
  font-size: 62.5%;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1.1fr;
}
.text-box {
  background: linear-gradient(135deg, var(--linear-1), var(--linear-2));
  background-image: url(images/bg-pattern-desktop.svg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}
.img-box {
  background: url(images/hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.text-box {
  padding: 6rem 12rem;
}
h-1 {
  display: block;
}
h-2 {
}
.heading-primary {
  font-size: 4.8rem;
}
